@import url("https://fonts.googleapis.com/css2?family=MuseoModerno&family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";
@import "variables.css";
@import "animation.css";
@import "divControl.css";
/*variable things in it like color*/

@import "chair_anim/mobile_screen.css";
@import "chair_anim/tablet_screen.css";
@import "chair_anim/pc_screen.css";

@import "screens/pc_tablet_screen.css";
@import "screens/mobile_screen.css";

@import "components/footer-address.css";
@import "components/index-header.css";
@import "components/modal.css";
@import "components/btn.css";

body {
  height: 100vh;
  width: 100vw;
  font-family: "Open Sans", sans-serif;
  z-index: -99;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}

/*style.css only include font-familly or import files records*/
