.pc-screen {
  display: flex;
  width: 100vw;
  height: 180vh;
  justify-content: space-between;
}
.pc-main__column:first-child {
  width: 20vw;
  background-image: url(https://github.com/dongwu-kim/dongwu-kim.github.io/blob/master/img/flannel1.png?raw=true);
  background-size: 20vw 60vh;
}
.pc-main__column:last-child {
  width: 20vw;
  background-image: url(https://github.com/dongwu-kim/dongwu-kim.github.io/blob/master/img/flannel1.png?raw=true);
  background-size: 20vw 60vh;
}
.pc-main__column:nth-last-child(2) {
  width: 60vw;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-image: url(https://github.com/dongwu-kim/dongwu-kim.github.io/blob/master/img/main_page_background.png?raw=true);
  background-size: 60vw 180vh;
}

.pc-main__project {
  display: flex;
  margin-top: 20vh;
}

.pc-main__project-btn-img {
  width: 25vw;
  height: 20vh;
  margin-left: 3vw;
  margin-right: 3vw;
}
.pc-main__project-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pc-main__project-text-title {
  margin-bottom: 1vh;
  font-size: 2.5vw;
  font-weight: 600;
  line-height: 6vh;
}

.pc-main__project-text-subtitle {
  font-size: 1.5vw;
  font-weight: 600;
  line-height: 5vh;
}
