@media screen and (min-width: 440px) and (max-width: 768px) {
  .index-main__projector {
    height: 100vh;
    width: 100vw;
  }
  .index-main__project {
    width: 80%;
    height: 45%;
    position: absolute;
    top: 20vh;
  }
}

@media screen and (min-width: 768px) {
  .index-main__projector {
    height: 100vh;
    width: 100vw;
  }
  .index-main__project {
    width: 80%;
    height: 50%;
    position: absolute;
    top: 15vh;
  }
}
@media screen and (min-width: 1024px) {
  .index-main__projector {
    height: 100vh;
    width: 100vw;
  }
  .index-main__project {
    width: 80%;
    height: 60%;
    position: absolute;
    top: 10vh;
  }
}

@media screen and (min-width: 1200px) and (min-height: 1024px) {
  .index-main__projector {
    height: 100vh;
    width: 100vw;
  }
  .index-main__project {
    width: 80%;
    height: 60%;
    position: absolute;
    top: 15vh;
  }
}

@media screen and (min-height: 1200px) {
  .index-main__projector {
    height: 100vh;
    width: 100vw;
  }
  .index-main__project {
    width: 80%;
    height: 65%;
    position: absolute;
    top: 13vh;
  }
}
