.global-nav,
.local-nav {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
}

.global-nav {
  top: 0;
  left: 0;
  height: 44px;
  padding: 0 1rem;
}
.local-nav {
  top: 45px;
  left: 0;
  height: 51px;
  padding: 0 1rem;
  border-bottom: 1px solid lightgrey;
}
.global-nav__links,
.local-nav__links {
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.global-nav__links {
  justify-content: space-between;
}

.product__name {
  margin-right: auto;
  font-size: 1.4rem;
  font-weight: bold;
}
.local-nav__item {
  margin-left: 2rem;
  font-size: 0.8rem;
}
