@media screen and (max-width: 760px) {
  .nav-container {
    width: 100%;
  }
  .nav-mobile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0a0c11;
    color: var(--blue);
    font-size: 34px;
    padding: 5px 0;
    box-sizing: border-box;
    border-bottom: 3px solid black;

    font-family: "Nanum Brush Script", cursive;
    position: absolute;
    top: 0;
    z-index: 99;
  }

  .nav-mobile i {
    font-size: 20px;
  }

  .nav-title {
    width: 75px;
    height: 30px;
    color: var(--blue);
  }

  .nav-desktop {
    visibility: hidden;
  }
}

@media screen and (min-width: 760px) {
  .nav-desktop {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0a0c11;
    color: white;
    padding: 0px 50px;
    box-sizing: border-box;
    font-family: "Nanum Brush Script", cursive;
    position: absolute;
    top: 0;
    z-index: 99;
  }

  .nav-mobile {
    visibility: hidden;
    z-index: 0;
  }
  .nav-desktop .nav-desktop__content:first-child {
    display: flex;
    width: 50%;
    font-size: 35px;
    justify-content: space-between;
    margin: 10px 0 10px;
  }
  .nav-title {
    width: 90px;
    height: 30px;
    color: var(--blue);
  }

  .nav-desktop .nav-desktop__content:nth-child(2) {
    display: flex;
    width: 50%;
    font-size: 27px;
    justify-content: flex-end;
  }

  .nav-desktop__user-support {
    margin-right: 30px;
  }
}
