@media screen and (min-width: 440px) and (max-width: 768px) {
  /* body bgcolor change - chained practice.js */
  .pc-chair {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
  }
  .phone-chair {
    display: none;
    visibility: hidden;
  }
}
