@charset "utf-8";
@import "reset_test.css";
@import "variables.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;900&display=swap");

@import "components/nav.css";
@import "components/scroll_section.css";
@import "components/scroll_sticky_elem.css";
@import "components/footer.css";
/*style.css only include font-familly or import files records*/
html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
}

body {
  overflow-x: hidden;
  color: var(--main-font-color);
  letter-spacing: -0.05rem;
  background-color: white;
}

p {
  line-height: 1.6;
}

a {
  color: var(--main-font-color);
}

strong,
h1 {
  font-weight: bold;
  color: var(--main-font-color);
}
