@media screen and (max-width: 439.9px) {
  .footer-address {
    width: 100%;
    display: flex;
    position: fixed;
    bottom: 0px;
  }
  .footer-address .footer-address__column {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    background-color: var(--siam-black);
    color: var(--reverse-siam-black);
    opacity: 0.835;
    font-size: 13px;

    box-sizing: border-box;
  }
  .footer-address .footer-address__column:first-child {
    width: 30vw;
  }
  .footer-address .footer-address__column:nth-child(2) {
    width: 30vw;
  }
  .footer-address .footer-address__column:last-child {
    width: 40vw;
  }
}

@media screen and (min-width: 440px) and (max-height: 500px) {
  .footer-address {
    width: 0;
    height: 0;
  }
  .footer-address .footer-address__column {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    background-color: var(--siam-black);
    color: var(--reverse-siam-black);
    opacity: 0.835;
    font-size: 13px;

    box-sizing: border-box;
  }
  .footer-address .footer-address__column:first-child {
    width: 30vw;
  }
  .footer-address .footer-address__column:nth-child(2) {
    width: 30vw;
  }
  .footer-address .footer-address__column:last-child {
    width: 40vw;
  }
}

@media screen and (min-width: 440px) and (max-width: 767.9px) {
  .footer-address {
    width: 100vw;
    display: flex;
    position: fixed;
    bottom: 0px;
  }
  .footer-address__column {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--siam-black);
    color: var(--reverse-siam-black);
    opacity: 0.835;
    font-size: 12px;

    box-sizing: border-box;
  }
  .footer-address__column:first-child {
    width: 30vw;
  }
  .footer-address__column:nth-child(2) {
    width: 30vw;
  }
  .footer-address__column:last-child {
    width: 40vw;
  }
}

@media screen and (min-width: 768px) {
  .footer-address {
    width: 100vw;
    display: flex;
    position: fixed;
    bottom: 0px;
  }
  .footer-address__column {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--siam-black);
    color: var(--reverse-siam-black);
    opacity: 0.835;
    font-size: 20px;

    box-sizing: border-box;
  }
  .footer-address__column:first-child {
    width: 30vw;
  }
  .footer-address__column:nth-child(2) {
    width: 30vw;
  }
  .footer-address__column:last-child {
    width: 40vw;
  }
}
