.footer-adress {
  width: 100%;
  display: flex;
  position: fixed;
  bottom: 0px;
}
.footer-adress__column {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--siam-black);
  color: var(--reverse-siam-black);
  opacity: 0.835;
  font-size: 14px;

  box-sizing: border-box;
}
.footer-adress__column:first-child {
  width: 30%;
}
.footer-adress__column:nth-child(2) {
  width: 30%;
}
.footer-adress__column:last-child {
  width: 40%;
}
