.index-header {
  width: 100%;
  display: flex;
  position: fixed;
  top: 0px;
}
.index-header__column {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  box-sizing: border-box;
  background-color: var(--siam-black);
  color: var(--reverse-siam-black);
  opacity: 0.835;
}
.index-header__column:first-child {
  width: 20%;
}
.index-header__column:nth-child(2) {
  width: 60%;
}
.index-header__column:last-child {
  width: 20%;
}
