.settings__setting {
  padding: 25px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0.8;
}

.settings__setting i {
  margin-right: 15px;
  font-size: 22px;
}

.settings__setting-column:last-child {
  opacity: 0.5;
}

.second__list {
  border-top: 1px solid rgba(0, 0, 0, 0.4);
}

.second__list .settings__setting:nth-child(2) span {
  margin-left: 2.5px;
}

.second__list .settings__setting:nth-child(5) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.second__list .settings__setting:last-child {
  opacity: 0;
  margin-bottom: 80px;
}
