.index-main__projector {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.index-main__project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.index-main__project-btn-img,
.index-main__project-text-title {
  opacity: 0;
  display: flex;

  font-size: 30px;
}
@media screen and (max-width: 440px) {
  .index-main__projector {
    height: 100vh;
    width: 100vw;
  }
  .index-main__project {
    width: 66%;
    height: 30%;
  }

  .index-main__project-btn-img,
  .index-main__project-text-title {
    font-size: 30px;
  }
}
/*mobile mode*/
@media screen and (min-width: 440px) and (max-height: 500px) {
  .index-main__projector {
    height: 100vh;
    width: 100vw;
    animation: none;
  }
  .index-main__project {
    width: 66%;
    height: 55%;
    position: absolute;
    bottom: 120px;
  }

  .index-main__project-btn-img,
  .index-main__project-text-title {
    font-size: 30px;
  }
}
/*transverse mode*/
