@media screen and (min-width: 440px) and (max-width: 768px) {
  .index-main__projector {
    height: 100vh;
    width: 100vw;
    animation: none;
  }
  .index-main__project {
    width: 80%;
    height: 45%;
    position: absolute;
    bottom: 240px;
  }

  .index-main__project-btn,
  .index-main__project-text {
    font-size: 30px;
  }
}

@media screen and (min-width: 768px) {
  .index-main__projector {
    height: 100vh;
    width: 100vw;
    animation: none;
  }
  .index-main__project {
    width: 80%;
    height: 50%;
    position: absolute;
    bottom: 240px;
  }

  .index-main__project-btn,
  .index-main__project-text {
    font-size: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .index-main__projector {
    height: 100vh;
    width: 100vw;
    animation: none;
  }
  .index-main__project {
    width: 80%;
    height: 60%;
    position: absolute;
    bottom: 220px;
  }

  .index-main__project-btn-img,
  .index-main__project-text-title {
    font-size: 30px;
  }
}
