@media screen and (max-width: 440px) {
  .employment-section {
    display: flex;
    width: 100%;
    position: relative;
  }

  .employment-section__img {
    width: 100%;
    height: 300px;
    background-image: url(https://github.com/dongwu-kim/dongwu-kim.github.io/blob/master/projects/projec2_blizzard/img/artwork/resize_star2.jpg?raw=true);
    background-size: 100% 300px;
  }
  .employment-section__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    top: 40%;
    left: 8%;
    line-height: 35px;
    font-family: "Noto Sans KR", cursive;
  }
  .employment-section__text h2 {
    font-size: 23px;
    font-weight: 600;
    text-shadow: 5px 5px 10px black;
  }
  .employment-section__text span {
    font-size: 18px;
    text-shadow: 5px 5px 10px black;
  }
  .employment-section__text button {
    width: 90%;
    background-color: var(--button-blue);
    font-size: 18px;
    padding: 10px 20px;
    border: 1px solid var(--blue);
    outline: none;
    color: white;
    margin-top: 10px;
  }
}

@media screen and (min-width: 440px) {
  .employment-section {
    display: flex;
    width: 100%;
    position: relative;
  }

  .employment-section__img {
    width: 100%;
    height: 300px;
    background-image: url(https://github.com/dongwu-kim/dongwu-kim.github.io/blob/master/projects/projec2_blizzard/img/artwork/resize_star2.jpg?raw=true);
    background-size: 100% 300px;
  }
  .employment-section__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    top: 40%;
    left: 12%;
    line-height: 50px;
    font-family: "Noto Sans KR", cursive;
  }
  .employment-section__text h2 {
    font-size: 35px;
    font-weight: 600;
    text-shadow: 5px 5px 10px black;
  }
  .employment-section__text span {
    font-size: 24px;
    text-shadow: 5px 5px 10px black;
  }
  .employment-section__text button {
    width: 90%;
    background-color: var(--button-blue);
    font-size: 18px;
    padding: 10px 20px;
    border: 1px solid var(--blue);
    outline: none;
    color: white;
    margin-top: 10px;
  }
}

@media screen and (min-width: 760px) {
  .employment-section {
    display: flex;
    width: 100%;
    position: relative;
  }

  .employment-section__img {
    width: 100%;
    height: 480px;
    background-image: url(https://github.com/dongwu-kim/dongwu-kim.github.io/blob/master/projects/projec2_blizzard/img/artwork/resize_star2.jpg?raw=true);
    background-size: 100% 480px;
  }
  .employment-section__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    color: white;
    top: 20%;
    left: 8%;
    line-height: 50px;
    font-family: "Noto Sans KR", cursive;
  }
  .employment-section__text h2 {
    font-size: 40px;
    text-shadow: 5px 5px 10px black;
    font-weight: 600;
  }
  .employment-section__text span {
    font-size: 30px;
    text-shadow: 5px 5px 10px black;
  }
  .employment-section__text button {
    width: 50%;
    background-color: var(--button-blue);
    font-size: 18px;
    padding: 10px 20px;
    border: 1px solid var(--blue);
    outline: none;
    color: white;
    margin-top: 10px;
  }
}
