@media screen and (max-width: 440px) {
  .blizzrard-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer__btn {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    align-items: center;
    transition: all 0.3s ease-in-out;
  }
  .footer__btn-lang a {
    color: var(--light-gray);
    font-weight: 600;
  }

  .footer__btn-lang a:hover {
    color: white;
    font-weight: 600;
  }

  .footer__btn-lang i {
    color: var(--blue);
  }

  .footer__btn-lang img {
    width: 140px;
    height: 70px;
    margin-top: 20px;
  }

  .footer__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .footer__link-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--light-gray);
    margin-bottom: 10px;
    font-weight: 600;
  }

  .footer__link-divider {
    width: 1.2px;
    height: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: var(--gray);
  }

  .footer__text {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    line-height: 16px;
    color: var(--gray);
    font-weight: 600;
  }
  .second-link {
    margin-top: 10px;
    font-size: 13px;
  }
  .second-text {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }
  .second-a {
    color: var(--light-gray);
  }
}
@media screen and (min-width: 440px) {
  .blizzrard-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer__btn {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    align-items: center;
    transition: all 0.3s ease-in-out;
  }
  .footer__btn-lang a {
    color: var(--light-gray);
    font-weight: 600;
  }

  .footer__btn-lang a:hover {
    color: white;
    font-weight: 600;
  }

  .footer__btn-lang i {
    color: var(--blue);
  }

  .footer__btn-lang img {
    width: 140px;
    height: 70px;
    margin-top: 20px;
  }

  .footer__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .footer__link-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--light-gray);
    margin-bottom: 10px;
    font-weight: 600;
  }

  .footer__link-divider {
    width: 1.2px;
    height: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: var(--gray);
  }

  .footer__text {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    line-height: 16px;
    color: var(--gray);
    font-weight: 600;
  }
  .second-link {
    margin-top: 10px;
    font-size: 13px;
  }
  .second-text {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }
  .second-a {
    color: var(--light-gray);
  }
}
