@media screen and (max-width: 440px) {
  .app-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .app-section__divider {
    visibility: hidden;
  }
  .app-section__text {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #90a8c4;
    font-size: 16px;
    line-height: 30px;
    border-top: 1px solid #3b5879;
    box-sizing: border-box;
    padding: 20px 30px;
    transition: all 0.3s ease-in-out;
    position: relative;
  }

  .app-section__text a {
    color: var(--blue);
  }
  .app-section__text a:hover {
    color: white;
  }

  .fa-chevron-right {
    position: absolute;
    right: 5%;
    bottom: 45%;
  }
}

@media screen and (min-width: 440px) {
  .app-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .app-section__divider {
    visibility: hidden;
  }

  .app-section__text {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #90a8c4;
    font-size: 16px;
    line-height: 30px;
    border-top: 1px solid #3b5879;
    box-sizing: border-box;
    padding: 20px 30px;
    transition: all 0.3s ease-in-out;
    position: relative;
  }

  .app-section__text a {
    color: var(--blue);
  }
  .app-section__text a:hover {
    color: white;
  }

  .fa-chevron-right {
    position: absolute;
    right: 5%;
    bottom: 45%;
  }
}

@media screen and (min-width: 1050px) {
  .app-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #3b5879;
  }

  .app-section__text {
    display: flex;
    flex-direction: row;
    color: #90a8c4;
    font-size: 16px;
    line-height: 30px;
    border-top: none;
    box-sizing: border-box;
    padding: 10px 30px;
    transition: all 0.3s ease-in-out;
  }

  .app-section__text:first-child {
    justify-content: flex-end;
  }

  .app-section__text a {
    color: var(--blue);
    margin-left: 20px;
  }
  .app-section__text a:hover {
    color: white;
  }

  .fa-chevron-right {
    visibility: hidden;
  }

  .app-section__divider {
    visibility: visible;
    width: 1.8px;
    background-color: #3b5879;
    height: 20px;
  }
}
