@media screen and (max-width: 440px) {
  .employment-section {
    display: flex;
    width: 100%;
    position: relative;
  }

  .employment-section__img {
    width: 100%;
    height: 300px;
    background-image: url(https://github.com/dongwu-kim/dongwu-kim.github.io/blob/master/projec2_blizzard/img/artwork/resize_overwatch_2.jpg?raw=true);
    background-size: 100% 300px;
  }
  .employment-section__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    top: 40%;
    line-height: 40px;
  }
  .employment-section__text h2 {
    font-size: 23px;
  }
  .employment-section__text span {
    font-size: 18px;
  }
  .employment-section__text button {
    width: 90%;
    background-color: #007bc6;
    font-size: 18px;
    padding: 10px 20px;
    border: 1px solid var(--blue);
    outline: none;
    color: white;
  }
}

@media screen and (min-width: 760px) {
}

@media screen and (min-width: 760px) {
}

@media screen and (min-width: 760px) {
}
