@keyframes imgMoveleft {
  from {
    transform: translateX(-50px);
    opacity: 0.3;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@media screen and (max-width: 440px) {
  .home_screen {
    display: flex;
    color: white;
    width: 100%;
    height: 450px;
    position: relative;
  }

  .marketing__screen {
    background-color: black;
    z-index: 0;
    width: 100%;
    height: 450px;
  }

  .marketing__img {
    will-change: transform;
    will-change: margin;
    width: 100%;
    height: 450px;
    background-image: url(https://github.com/dongwu-kim/dongwu-kim.github.io/blob/master/projec2_blizzard/img/WoW/jpg_Shadowlands_Bolvar_Key_Art.jpg?raw=true);
    background-size: 100% 450px;
    animation-delay: 0.2s;
    animation: imgMoveleft 5000ms cubic-bezier(0.03, 0.665, 0.225, 0.905)
      forwards;
    position: absolute;
    top: 0;
  }

  .marketing__text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    left: 15%;
    bottom: 75px;
    line-height: 60px;
    font-family: "Noto Sans KR", cursive;
    text-shadow: 5px 5px 10px black;
  }

  .marketing__btn {
    width: 200px;
    margin-top: 20px;
    font-size: 20px;
    font-family: "Noto Sans KR", cursive;
    font-weight: 300;
    border: 1px solid var(--blue);
    background-color: #007bc6;
    color: white;
  }

  .marketing__slider {
    width: 100%;
    height: 20px;
    bottom: 0;
    display: flex;
    padding: 0 1%;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background-color: black;
  }
  .marketing__slider-btn {
    width: 19%;
    background-color: #858689;
    border: none;
    outline: none;
  }
  .marketing__slider-btn:first-child {
    background-color: var(--blue);
  }
}

@media screen and (min-width: 440px) {
  .home_screen {
    display: flex;
    color: white;
    width: 100%;
    height: 450px;
    position: relative;
  }

  .marketing__screen {
    background-color: black;
    z-index: 0;
    width: 100%;
    height: 450px;
  }

  .marketing__img {
    will-change: transform;
    will-change: margin;
    width: 100%;
    height: 450px;
    background-image: url(https://github.com/dongwu-kim/dongwu-kim.github.io/blob/master/projec2_blizzard/img/WoW/jpg_Shadowlands_Bolvar_Key_Art.jpg?raw=true);
    background-size: 100% 450px;
    animation-delay: 0.2s;
    animation: imgMoveleft 5000ms cubic-bezier(0.03, 0.665, 0.225, 0.905)
      forwards;
    position: absolute;
    top: 0;
  }

  .marketing__text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    font-size: 32px;
    font-weight: 700;
    position: absolute;
    left: 22%;
    bottom: 75px;
    line-height: 60px;
    font-family: "Noto Sans KR", cursive;
    text-shadow: 5px 5px 10px black;
  }

  .marketing__btn {
    width: 200px;
    margin-top: 20px;
    font-size: 20px;
    font-family: "Noto Sans KR", cursive;
    font-weight: 300;
    border: 1px solid var(--blue);
    background-color: #007bc6;
    color: white;
  }

  .marketing__slider {
    width: 100%;
    height: 20px;
    bottom: 0;
    display: flex;
    padding: 0 1%;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background-color: black;
  }
  .marketing__slider-btn {
    width: 19%;
    background-color: #858689;
    border: none;
    outline: none;
  }
  .marketing__slider-btn:first-child {
    background-color: var(--blue);
  }
}

@media screen and (min-width: 760px) {
  .home_screen {
    display: flex;
    color: white;
    width: 100%;
    height: 514px;
    position: relative;
  }

  .marketing__screen {
    background-color: black;
    z-index: 0;
    width: 100%;
    height: 514px;
  }

  .marketing__img {
    will-change: transform;
    will-change: margin;
    width: 100%;
    height: 514px;
    background-image: url(https://github.com/dongwu-kim/dongwu-kim.github.io/blob/master/projec2_blizzard/img/WoW/jpg_Shadowlands_Bolvar_Key_Art.jpg?raw=true);
    background-size: 100% 514px;
    animation-delay: 0.2s;
    animation: imgMoveleft 5000ms cubic-bezier(0.03, 0.665, 0.225, 0.905)
      forwards;
    position: absolute;
    top: 0;
  }

  .marketing__text {
    display: flex;
    padding: 20px;
    flex-direction: column;
    font-size: 60px;
    font-weight: 700;
    position: absolute;
    left: 5%;
    bottom: 50px;
    line-height: 100px;
    font-family: "Noto Sans KR", cursive;
    text-shadow: 5px 5px 10px black;
  }

  .marketing__btn {
    width: 200px;
    margin-top: 20px;
    font-size: 20px;
    font-family: "Noto Sans KR", cursive;
    font-weight: 300;
    border: 1px solid var(--blue);
    background-color: #007bc6;
    color: white;
  }

  .marketing__slider {
    width: 100%;
    height: 25px;
    bottom: 0;
    display: flex;
    padding: 0 1%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: black;
  }
  .marketing__slider-btn {
    width: 10%;
    height: 6px;
    background-color: #858689;
    border: none;
    outline: none;
    margin-right: 8px;
  }
  .marketing__slider-btn:first-child {
    background-color: var(--blue);
  }
}
